<!DOCTYPE html>
<html lang="es_MX">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Vacunacion</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
    <nav class="nav">
        <div class="nav__contenedor">
            <h2 class="nav__titulo">Vaccination</h1>
                <ul class="nav__items">
                    <li class="nav__item"><a href="#" class="nav__link">Database</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Education</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">News</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Regulation</a></li>
                    <li class="nav__item"><a href="#" class="nav__link nav__link--selected">Hoax Buster</a></li>
                </ul>
        </div>
    </nav>
    <header class="header">
        <div class="header__contenedor">
            <h1 class="header__titulo">Fight Virus With Vaccines</h1>
            <p class="header__parrafo">Let's stop this pandemic by killing
                the virus with a vaccine,don't let yourself and your
                family get infected
            </p>
            <p class="header__labels"><span class="material-icons">verified_user</span> Best protection</p>
            <p class="header__labels"><span class="material-icons">star</span> Selected Vaccines</p>
        </div>
        <div class="header__img"></div>
        <div class="header__aside">
            <div class="header__aside--div">
                <p><span class="material-icons">location_on</span> Location</p>
                <h4>Jakarta Utara</h4>
            </div>
            <div class="header__aside--div">
                <p><span class="material-icons">event</span> Date</p>
                <h4>08 July 2021</h4>
            </div>
            <div class="header__aside--div">
                <p><span class="material-icons">drive_file_rename_outline</span> Vaccine Type</p>
                <h4>Moderna</h4>
            </div>
            <div class="header__aside--div">
                <input type="submit" value="Submit">
            </div>
        </div>
    </header>
    <section class="why">
        <div class="why__container">
            <img src="../img/vacuna1.png" alt="" class="why__img vacuna1">
            <img src="../img/vacuna2.png" alt="" class="why__img vacuna2">
            <img src="../img/vacuna3.png" alt="" class="why__img vacuna3">
            <img src="../img/vacuna4.png" alt="" class="why__img vacuna4">
            <div class="why__contenido">
                <h2 class="why__titulo">Why should I vaccine?</h2>
                <p class="why__parrafo">In order to avoid any doubts about getting
                    the COVID-19 vaccine, identify the following 4 benefits of COVID-19 vaccination:
                </p>
            </div>
            <div class="why__benefits">
                <div class="why__benefit">
                    <span class="material-icons">toggle_on</span>
                    <h3 class="why__subtitulo">Minimize the spread of viruses</h3>
                    <p class="benefit__parrafo">Vaccine has been proven effective to
                        prevent someone from getting infected with Coronavirus</p>
                </div>
                <div class="why__benefit">
                    <span class="material-icons">verified_user</span>
                    <h3 class="why__subtitulo">Forming antibodies</h3>
                    <p class="benefit__parrafo">COVID-19 vaccine proven to
                        help shape antibody response for immune system</p>
                </div>
                <div class="why__benefit">
                    <span class="material-icons">groups</span>
                    <h3 class="why__subtitulo">Protecting people nearby</h3>
                    <p class="benefit__parrafo">The benefits of COVID-19 vaccination are
                        the vaccine that we get can also help protectpeople around us
                    </p>
                </div>
                <div class="why__benefit">
                    <span class="material-icons">analytics</span>
                    <h3 class="why__subtitulo">creating group immunity</h3>
                    <p class="benefit__parrafo">COVID-19 vaccination is also beneficial
                        for creating group immunity or herd immunity</p>
                </div>
            </div>
        </div>
    </section>
    <section class="before">
        <div class="before__img">
        </div>
        <div class="before__main">
            <h2 class="before__titulo">Preparations Before Vaccine</h2>
            <p class="before__parrafo">the succes of vaccines is strong influenced
                by the strength of the body's immune system. therefore, there are several
                thing that can be trieed to make the COVID-19 vaccine work:</p>
            <details class="before__details">
                <summary class="before__summary"><span class="material-icons">gpp_bad</span> Avoid alcoholic beverages
                </summary>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis maiores repudiandae doloremque esse
                    nam aliquam.</p>
            </details>
            <details class="before__details">
                <summary class="before__summary"><span class="material-icons">disabled_by_default</span> Avoid stress
                </summary>
                <p>Stress has a profound effect on inmune work. Moreover, prolonged stress
                    can increase cortisol production and oxidative stress in the body</p>
            </details>
            <details class="before__details">
                <summary class="before__summary"><span class="material-icons">food_bank</span> Eat healthy food
                </summary>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro molestiae sapiente consectetur
                    voluptatibus quisquam eum?</p>
            </details>
            <details class="before__details">
                <summary class="before__summary"><span class="material-icons">king_bed</span> Get enough sleep</summary>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus sint nostrum obcaecati at
                    incidunt beatae.</p>
            </details>
            <details class="before__details">
                <summary class="before__summary"><span class="material-icons">favorite</span> Exercise or physical
                    activity</summary>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus sint nostrum obcaecati at
                    incidunt beatae.</p>
            </details>
        </div>
    </section>
    <section class="contact">
        <div class="contact__main">
            <h2 class="contact__titulo">Emergency Contact</h2>
            <p class="contact__parrafo">Contact one of the contacts below if you or your family feel
                unwell and have similar symptoms such as Covid-19, make sure you also take care of yourself
                vefore reporting to us:
            </p>
            <div class="contact__contenedor">
                <div class="contact__types contact--1">
                    <h4 class="contact__subtitulo"><span class="material-icons">phone_in_talk</span> Call</h4>
                    <a href="" class="contact__button">Call Now</a>
                </div>
                <div class="contact__types contact--2">
                    <h4 class="contact__subtitulo"><span class="material-icons">chat</span> Chat</h4>
                    <a href="" class="contact__button">Chat Now</a>
                </div>
                <div class="contact__types contact--3">
                    <h4 class="contact__subtitulo"><span class="material-icons">videocam</span> Video Call</h4>
                    <a href="" class="contact__button">Video Call Now</a>
                </div>
                <div class="contact__types contact--4">
                    <h4 class="contact__subtitulo"><span class="material-icons">mail</span> Message</h4>
                    <a href="" class="contact__button">Message Now</a>
                </div>
            </div>
        </div>
        <div class="contact__img">
        </div>
    </section>
    <footer class="footer">
        <div class="footer__metas">
            <h2 class="footer__titulo">Vaccination</h2>
            <p class="footer__parrafo">Our goal is to help the world free from the ongoing pandemic</p>
        </div>
        <div class="footer__nav footer__about">
            <h3 class="footer__subtitulo">About</h3>
            <a href="">About us</a>
            <a href="">Features</a>
            <a href="">News & Blog</a>
        </div>
        <div class="footer__nav footer__company">
            <h3 class="footer__subtitulo">Company</h3>
            <a href="">How we work?</a>
            <a href="">Capital</a>
            <a href="">Security</a>
        </div>
        <div class="footer__nav footer__support">
            <h3 class="footer__subtitulo">Support</h3>
            <a href="">FAQs</a>
            <a href="">Support Center</a>
            <a href="">Contact Us</a>
        </div>
        <p class="footer__copyright">@2021 Vaccination. All rights reserved</p>
        <p class="footer__terminos">Terms & Agreements</p>
        <p class="footer__privacy">Privacy Policy</p>
    </footer>
</body>

</html>